
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mouse+Memoirs&display=swap');


.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
 
  

  

  
 
  .home .text-wrapper-2 {
    color: #ffffff;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 72px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 26px;
    width: 244px;
  }
  
  .home .overlap-2 {
    height: 81px;
    left: 38px;
    position: absolute;
    top: 19px;
    width: 259px;
  }
  
  .home .text-wrapper-3 {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 40px;
    width: 259px;
  }
  
  .home .text-wrapper-4 {
    color: #000000;
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 36px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 113px;
  }
  
  .blue-container{
    margin: 0 auto;
    align-items: center;
  text-align: center;
    margin-top: 130px;
    height: 400px;
    width: 2000px;
    background-color: #297CB8;
    padding: 1px;
  }

 
  .text-wrapper-5{
    color: #ffffff;
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 55px;
    width: 100%;
  }

  .text-wrapper-6{
    margin: 0 auto;
 
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    width: 100%;
    font-weight: 300;
  }