@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mouse+Memoirs&display=swap');

/* .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.containerSurvey {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
} */

#question{
    font-family: "Mouse Memoirs", sans-serif;
}